body{
	background: #b0dee8;
	padding: 0;
	margin: 0;
}
header{
	background-color: black;
	height: 300;
	display: flex;
	align-items: center;

}


.img_class{
	object-fit: contain;
	height: 100;
	
}
ul a{
	text-decoration: none;
	color: white;
	font-size: 24px;
}
li{
	list-style-type: none;
}
ul{
	display: flex;
	width: 500px;
	justify-content: space-between;
}

.zag{
	font-size: 16px;
	color: #e8b009;
	text-align: right;
	padding: 5px;
}	
.fulltext{
	padding: 20px;
	display: flex;
	text-align: justify;
	font-size: 16px;
	color: blue;
	display: flex;
	/*flex-wrap:wrap;*/
	flex-direction: column;
}
.fulltext img {
   width: 150px;
   border-radius: 10px;
   margin:10px;
   margin-top:10px;
   transition: .3s ease-in-out;
}
.fulltext img:hover {
	width: 250px;	

}	
.fulltext a{
	font-size: 16px;
	color: #a00ea3;
	text-align: right;
}
.box{
	margin:10px;
    margin-top:10px;
}
.content{
	padding: 2px;
	height: 500px;
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
}
article{
	border: 1px solid gray;
	height: 300px;
	width: 200px;
	background: #c6f2ee;
	font-size: 14px;
}
article img{
	align-items: left;
	object-fit: contain;
	height: 100px;
	margin:5px;
    margin-top:5px;

}
.zoom, .zoomleft,.zoomdown {      
	    
	transition: all 0.5s ease-in-out;     
}     
.zoom:hover  
 {
	  
	transform: scale(3);     
	position:relative; 
	z-index: 100;
	 
}
.zoomleft:hover  
 {
	  
	transform: scale(3) translate(50px,0);    
	position:relative; 
	z-index: 100;
	 
}
.zoomdown:hover  
 {
	  
	transform: scale(3) translate(0,100px);    
	position:relative; 
	z-index: 500;
	 
}
td, th, caption{
    
	text-align:  center;
}
.tbl{
	width: 50%;
}
.hgcgfcf{
	
}